<template>
  <ul class="sidebar-menu">
    <li class="header">Features</li>
    <router-link tag="li" class="pageLink" to="/deliveries">
      <a>
        <i class="fa fa-desktop"></i>
        <span class="page">Delivries</span>
      </a>
    </router-link>
    <router-link tag="li" class="pageLink" to="/list-employees">
      <a>
        <i class="fa fa-table"></i>
        <span class="page">Employees</span>
      </a>
    </router-link>
    <router-link tag="li" class="pageLink" to="/list-cars">
      <a>
        <i class="fa fa-table"></i>
        <span class="page">Cars</span>
      </a>
    </router-link>

    <router-link tag="li" class="pageLink" to="/obstacle-list">
      <a>
        <i class="fa fa-table"></i>
        <span class="page">Obstacles</span>
      </a>
    </router-link>

    <li class="header">PAGES</li>
    <!--<router-link tag="li" class="pageLink" to="/login">
    <a>
      <i class="fa fa-circle-o text-yellow"></i>
      <span class="page"> Login</span>
    </a>
  </router-link>-->
    <router-link tag="li" class="pageLink" to="/tracker">
      <a>
        <i class="fa fa-circle-o text-yellow"></i>
        <span class="page"> Tracker</span>
      </a>
    </router-link>
    <router-link tag="li" class="pageLink" to="/live-tracking">
      <a>
        <i class="fa fa-circle-o text-yellow"></i>
        <span class="page"> Live Tracking</span>
      </a>
    </router-link>
    <router-link tag="li" class="pageLink" to="/custom-tracking">
      <a>
        <i class="fa fa-circle-o text-yellow"></i>
        <span class="page"> Custom Tracking</span>
      </a>
    </router-link>
  </ul>
</template>
<script>
export default {
  name: 'SidebarMenu'
}
</script>
<style>
  /* override default */
  .sidebar-menu>li>a {
    padding: 12px 15px 12px 15px;
  }

  .sidebar-menu li.active>a>.fa-angle-left, .sidebar-menu li.active>a>.pull-right-container>.fa-angle-left {
    animation-name: rotate;
    animation-duration: .2s;
    animation-fill-mode: forwards;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(-90deg);
    }
  }
</style>
