<template>
  <section class="content">
    <div class="row center-block">
      <h2>Delivery</h2>
      <div class="col-md-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Add Delivery</h3>
          </div>
          <form>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Customer full name : </label>
                  <input type="text" class="form-control" v-model="fullname">
                </div>
                <h3>Address :</h3>
                <div class="form-group">
                  <label>Street: </label>
                  <input type="text" class="form-control" v-model="street">
                </div>
                <div class="form-group">
                  <label>City : </label>
                  <input type="text" class="form-control" v-model="city">
                </div>
                <div class="form-group">
                  <label>Town : </label>
                  <input type="text" class="form-control" v-model="town">
                </div>
                <div class="form-group">
                  <label>Country : </label>
                  <input type="text" class="form-control" v-model="country">
                </div>
                <div class="form-group">
                  <label>Postal Code : </label>
                  <input type="text" class="form-control" v-model="postalCode">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Order : </label>
                  <input type="text" class="form-control" v-model="order">
                </div>
                <div class="form-group">
                  <label>Price : </label>
                  <input type="text" class="form-control" v-model="price">
                </div>
                <div class="form-group">
                  <label>Delivery Date : </label>
                  <input type="date" class="form-control" v-model="dateDeliver">
                </div>
                <div class="form-group">
                  <label>Employee Name : </label>
                  <input type="text" class="form-control" v-model="employee">
                </div>
                <div class="form-group">
                  <label>Car : </label>
                  <input type="text" class="form-control" v-model="car">
                </div>
                <div class="form-group">
                  <a v-on:click="add()" class="btn btn-primary">
                    Add
                  </a>
                </div>

              </div>
            </div>
            <google-map
              name="example"
            ></google-map>
          </form>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import $ from 'jquery'
  // Require needed datatables modules
  import 'datatables.net'
  import 'datatables.net-bs'
  import axios from 'axios'
  import GoogleMap from './GoogleMap.vue'


  export default {
    name: 'add-delivery',
    components: {
      GoogleMap
    },
    data() {
      return {
        delivery:{},
        errors: [],
        fullname:'',
        street:'',
        city:'',
        town:'',
        country:'',
        postalCode:'',
        order:'',
        price:'',
        dateDeliver:'',
        employee:'',
        car:'',
        id:''
      }
    },
    mounted () {
      this.$nextTick(() => {
        $('#example1').DataTable()
      })
    },
    methods:{
      add(){
        console.log(GoogleMap.data)

        var obj = {
          "customer" : {
            "fullName":this.fullname,
            "address" : {
              "street": this.street,
              "city": this.city,
              "town":this.town,
              "country": this.country,
              "postalCode":this.postalCode
            }
          },
          "order":this.order,
          "price":this.price,
          "dateDeliver":this.dateDeliver,
          "employee":this.employee,
          "car":this.car
        }

        axios
          .post(
            "http://localhost:3000/delivery",obj,{headers: {"Content-Type": "application/json"}})
          .then(response => {
            console.log("success")
            this.$router.push('/deliveries')
            console.log("ok")
          })
          .catch(e => console.log("error"));
      }
    }

  }
</script>

<style>
  /* Using the bootstrap style, but overriding the font to not draw in
     the Glyphicons Halflings font as an additional requirement for sorting icons.

     An alternative to the solution active below is to use the jquery style
     which uses images, but the color on the images does not match adminlte.


  @import url('../../../static/js/plugins/datatables/jquery.dataTables.min.css');*/


  @import url('../../../static/js/plugins/datatables/dataTables.bootstrap.css');

  table.dataTable thead .sorting:after,
  table.dataTable thead .sorting_asc:after,
  table.dataTable thead .sorting_desc:after {
    font-family: 'FontAwesome';
  }

  table.dataTable thead .sorting:after {
    content: "\f0dc";
  }

  table.dataTable thead .sorting_asc:after {
    content: "\f0dd";
  }

  table.dataTable thead .sorting_desc:after {
    content: "\f0de";
  }
</style>
