<template>
  <section class="content">
    <div class="row center-block">
      <h2>Custom Tracking</h2>
      <div class="col-md-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Custom Tracking</h3>
          </div>
            <div class="row">
              <form action="">
                <div class="form-group">
                  <label>Car : </label>
                  <input type="text" class="form-control" v-model="car">
                </div>
                <div class="form-group">
                  <label>Start Date : </label>
                  <input type="text" class="form-control" v-model="startDate">
                </div>
                <div class="form-group">
                  <label>End Date : </label>
                  <input type="text" class="form-control" v-model="endDate">
                </div>
                <div class="form-group">
                  <a v-on:click="checkForLocation()" class="btn btn-primary">
                    Add
                  </a>
                </div>
              </form>
          </div>
        </div>
      </div>
      <div class="google-map" id="-map"></div>
      <div id="clock">
        <p class="date">{{ date }}</p>
        <p class="time">{{ time }}</p>
        <div @click="playStop(true)" class="play_border">
          <div class="play_button"></div>
        </div>
        <div @click="playStop(false)" class="play_border">
          <div class="pause_button"></div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>

  import axios from 'axios'

  var map
  export default {
    name: 'custom-tracking',

    components: {

    },
    data() {
      return {
        locations:[],
        sDate:'',
        car:'',
        startDate:'',
        endDate:'',
        time: '',
        date: '',
        week : ['SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT'],
        timerID : '',
        cd : '',
        play: true,
        current: ''
      }
    },
    mounted () {

     /* var self = this
      setInterval(function () {
        self.cd.setSeconds(self.cd.getSeconds()+1)
        self.time = self.zeroPadding(self.cd.getHours(), 2) + ':' + self.zeroPadding(self.cd.getMinutes(), 2) + ':' + self.zeroPadding(self.cd.getSeconds(), 2);
        self.date = self.zeroPadding(self.cd.getFullYear(), 4) + '-' + self.zeroPadding(self.cd.getMonth()+1, 2) + '-' + self.zeroPadding(self.cd.getDate(), 2) + ' ' + self.week[self.cd.getDay()];
      },1000);*/
      //this.updateTime();
    },
    methods:{
      playStop(val){
        this.play = val
        console.log(this.play)
      },
      zeroPadding(num,digit){
        var zero = '';
        for(var i = 0; i < digit; i++) {
          zero += '0';
        }
        return (zero + num).slice(-digit);
      },
      checkForLocation(){
        axios.get('http://localhost:3000/location/custom/'+this.startDate+'/'+this.endDate+'/'+this.car)
          .then(response => {
            this.locations = response.data
            this.sDate = this.locations[0].date;
            console.log(this.locations)
            this.cd = new Date(this.startDate)
            var self = this
            var stop = new Date(this.endDate)

            /*var markers = new Map()
            navigator.geolocation.getCurrentPosition(function (position) {
              var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
              var myOptions = {
                zoom: 16,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
              };
              var map = new google.maps.Map(document.getElementById('-map'), myOptions);
            })*/
            var uuu ={lat: 36.7969187, lng: 10.106320600000002}
            map = new google.maps.Map(document.getElementById('-map'), {
              zoom: 10,
              center: uuu,
              mapTypeId: google.maps.MapTypeId.ROADMAP
            });
            var marker
            var myInterval =setInterval(function () {
              if(!self.play){
                console.log("pause")
              }else{
                self.cd.setSeconds(self.cd.getSeconds()+1)
                self.time = self.zeroPadding(self.cd.getHours(), 2) + ':' + self.zeroPadding(self.cd.getMinutes(), 2) + ':' + self.zeroPadding(self.cd.getSeconds(), 2);
                self.date = self.zeroPadding(self.cd.getFullYear(), 4) + '-' + self.zeroPadding(self.cd.getMonth()+1, 2) + '-' + self.zeroPadding(self.cd.getDate(), 2) + ' ' + self.week[self.cd.getDay()];
                //var myLatLng = new google.maps.LatLng(36.7969322, 10.1061777);
                //console.log(self.map)
                self.locations.forEach(function (loc) {
                  var d = new Date(loc.date)
                  var x = d.getTime()-(d.getTime()%1000)
                  var y =self.cd.getTime()-(self.cd.getTime()%1000)
                  console.log(x === y)
                  if (x === y){
                    console.log('in')
                    console.log(marker)
                    var pos = {lat: parseFloat(loc.latitude), lng: parseFloat(loc.longitude)}
                    if (marker){
                      marker.setPosition(pos)
                    }else{
                      marker = new google.maps.Marker({
                        position: pos,
                        animation: google.maps.Animation.BOUNCE,
                        map: map
                      });
                    }
                  }
                })
                  /*var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(36.7969322, 10.1061777),
                    setMap: map,
                    title: 'Hello World!'
                  });*/

                if (self.cd.getTime() >= stop.getTime()  ){
                  console.log('inside')
                  clearInterval(myInterval)
                }
              }
            },1000);
          })
          .catch(e => {
            //this.errors.push(e)
          })
      }
    }

  }
</script>

<style scoped>
  .google-map {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    background: gray;
  }
  #clock {
    font-family: 'Share Tech Mono', monospace;
    color: #ffffff;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
  }
  .time {
    letter-spacing: 0.05em;
    font-size: 80px;
    padding: 5px 0;
  }
  .date {
    letter-spacing: 0.1em;
    font-size: 24px;
  }

  .play_border {
    margin:5px;
    border: 2px solid rgba(0,0,0,0.7);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
    display: inline-block;
    /* For IE 7 */
    zoom: 1;
    *display: inline;
  }
  .play_border:hover{
    border-color: transparent;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
  }
  .play_border:hover .play_button{
    border-left: 10px solid rgba(0,0,0,0.5);
  }
  .play_border:active,.play_border:focus{
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
  }
  .play_border:hover .pause_button{
    border-left: 4px solid rgba(0,0,0,0.5);
    box-shadow: 4px 0px 0px rgba(0,0,0,0.5);
  }
  .play_border:active,.pause_button:focus{
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
  }
  .play_button {
    position:relative;
    top: 2px;
    left: 35%;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 10px solid rgba(0,0,0,0.8);
  }
  .pause_button {
    position: relative;
    top: 5px;
    left: 26%;
    width: 2px;
    height: 10px;
    box-shadow: 4px 0px 0px rgba(0,0,0,0.8);
    border-left: 4px solid rgba(0,0,0,0.8);
  }


</style>
