<template>
  <section class="content">
    <div class="row center-block">
      <h2>Delivries</h2>
      <div class="col-md-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">List of delivries</h3>
            <br>
            <router-link tag="li" class="pageLink" to="deliveries/add">
              <a class="btn btn-primary">
                Add delivery
              </a>
            </router-link>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
              <div class="row">
                <div class="col-sm-6">
                  <div id="example1_length" class="dataTables_length">

                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 table-responsive">
                  <table aria-describedby="example1_info" role="grid" id="deliveryTable" class="table table-bordered table-striped dataTable">
                    <thead>
                    <tr role="row">
                      <th aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 167px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting_asc">Customer name</th>
                      <th aria-label="Browser: activate to sort column ascending" style="width: 207px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">Address</th>
                      <th aria-label="Platform(s): activate to sort column ascending" style="width: 182px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">Order</th>
                      <th aria-label="Engine version: activate to sort column ascending" style="width: 142px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">Price</th>
                      <th aria-label="CSS grade: activate to sort column ascending" style="width: 101px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">Start date</th>
                      <th aria-label="CSS grade: activate to sort column ascending" style="width: 101px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">Delivery date</th>
                      <th aria-label="CSS grade: activate to sort column ascending" style="width: 101px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">Employee</th>
                      <th aria-label="CSS grade: activate to sort column ascending" style="width: 101px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">Car</th>
                      <th aria-label="CSS grade: activate to sort column ascending" style="width: 101px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="even" role="row" v-for="(data,index) in deliveries" :key='index'>
                      <td class="sorting_1">
                        <router-link tag="li" class="pageLink" v-bind:to="'deliveries/'+data._id">
                          <a>
                            <i class="fa fa-desktop"></i>
                            <span class="page">{{ data.customer.fullName }}</span>
                          </a>
                        </router-link>
                      </td>
                      <td>{{data.customer.address.postalCode}} {{data.customer.address.street}} {{data.customer.address.city}} {{data.customer.address.town}} {{data.customer.address.country}} </td>
                      <td>{{data.order}}</td>
                      <td>{{data.price}}</td>
                      <td>{{data.dateStart}}</td>
                      <td>{{data.dateDeliver}}</td>
                      <td>{{data.employee}}</td>
                      <td>{{data.car}}</td>
                      <td><span style="cursor: pointer" class="fa fa-remove" v-on:click="remove(index,data._id)"></span></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                      <th colspan="1" rowspan="1">Customer name</th>
                      <th colspan="1" rowspan="1">Address</th>
                      <th colspan="1" rowspan="1">Order</th>
                      <th colspan="1" rowspan="1">Price</th>
                      <th colspan="1" rowspan="1">Start date</th>
                      <th colspan="1" rowspan="1">Delivery date</th>
                      <th colspan="1" rowspan="1">Employee</th>
                      <th colspan="1" rowspan="1">Car</th>
                      <th colspan="1" rowspan="1">Delete</th>
                    </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import $ from 'jquery'
  // Require needed datatables modules
  import 'datatables.net'
  import 'datatables.net-bs'
  import axios from 'axios';

  export default {
    name: 'Deliveries',
    data() {
      return {
        deliveries:[],
        errors: [],
        fullname:'',
        street:'',
        city:'',
        town:'',
        country:'',
        postalCode:'',
        order:'',
        price:'',
        dateDeliver:'',
        employee:'',
        car:'',
      }
    },
    mounted () {
      this.getDeliveries();
    },
    /*created(){
      axios.get('http://localhost:3000/delivery')
        .then(response => {
          this.deliveries = response.data
        })
        .catch(e => {
          this.errors.push(e)
        })
      setTimeout(function() { $("#example1").DataTable(); }, 1000);
    },*/
    methods:{
      getDeliveries(){
        axios.get('http://localhost:3000/delivery')
          .then(response => {
            this.deliveries = response.data
          })
          .catch(e => {
            this.errors.push(e)
          })
        setTimeout(function(){$('#deliveryTable').DataTable();}, 1000);
      },
      remove(index,id){
        axios.delete('http://localhost:3000/delivery/'+id)
          .then(response => {
            this.deliveries.splice(index,1)

          })
        //$('#deliveryTable').DataTable().row( this ).delete();
        //$('#deliveryTable').DataTable().row(':eq(0)').remove().draw( false )
        //console.log(this);
        //console.log(('#deliveryTable').DataTable().row('.selected').remove().draw( false ))
      },
      showModal(){
        this.$modal.show('addDelivery',{
          Width:"60%" ,
          Height:"auto"
        });
      },
      hideModal () {
        this.$modal.hide('addDelivery');
      },
      add(){
        var obj = {
          "customer" : {
            "fullName":this.fullname,
            "address" : {
              "street": this.street,
              "city": this.city,
              "town":this.town,
              "country": this.country,
              "postalCode":this.postalCode
            }
          },
          "order":this.order,
          "price":this.price,
          "dateDeliver":this.dateDeliver,
          "employee":this.employee,
          "car":this.car
        }
        axios
          .post(
            "http://localhost:3000/delivery",
            obj,
            {headers: {"Content-Type": "application/json"}}
          )
          .then(response => {
            var del = response.data
            this.delivery.push(del)
          })
          .catch(e => console.log("error"));
      }
    }

  }
</script>

<style>
  /* Using the bootstrap style, but overriding the font to not draw in
     the Glyphicons Halflings font as an additional requirement for sorting icons.

     An alternative to the solution active below is to use the jquery style
     which uses images, but the color on the images does not match adminlte.

  @import url('../../../static/js/plugins/datatables/jquery.dataTables.min.css');*/


  @import url('../../../static/js/plugins/datatables/dataTables.bootstrap.css');

  table.dataTable thead .sorting:after,
  table.dataTable thead .sorting_asc:after,
  table.dataTable thead .sorting_desc:after {
    font-family: 'FontAwesome';
  }

  table.dataTable thead .sorting:after {
    content: "\f0dc";
  }

  table.dataTable thead .sorting_asc:after {
    content: "\f0dd";
  }

  table.dataTable thead .sorting_desc:after {
    content: "\f0de";
  }

</style>
