<template>
  <div class="google-map" :id="mapName"></div>
</template>
<script>
  export default {
    name: 'google-map',
    props: ['name'],
    data: function () {
      return {
        mapName: this.name + "-map",
        position : [40.748774, -73.985763],
         numDeltas : 100,
       delay : 10,
        marker:'',
       i : 0,
       deltaLat:',',
       deltaLng:'',
        result:''
      }
    },
    mounted: function () {
      /*const element = document.getElementById(this.mapName)
      const options = {
        zoom: 14,
        center: new google.maps.LatLng(51.501527,-0.1921837)
      }
      const map = new google.maps.Map(element, options);*/
      var latlng = new google.maps.LatLng(this.position[0], this.position[1]);
      var myOptions = {
        zoom: 16,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      const map = new google.maps.Map(document.getElementById(this.mapName), myOptions);
      console.log(map);
      this.marker = new google.maps.Marker({
        position: latlng,
        map: map,
        title: "Latitude:"+this.position[0]+" | Longitude:"+this.position[1],
        animation: google.maps.Animation.BOUNCE,
      });
      console.log(this.position)
      var self = this
      google.maps.event.addListener(map, 'click', function(event) {
        self.result = [event.latLng.lat(), event.latLng.lng()];
        self.transit();
      });
    },
    methods: {
      transit(){
        console.log('transition')
        this.i = 0;
        this.deltaLat = (this.result[0] - this.position[0])/this.numDeltas;
        this.deltaLng = (this.result[1] - this.position[1])/this.numDeltas;
        this.moveMarker();
      },
      moveMarker :function(){
        this.position[0] += this.deltaLat;
        this.position[1] += this.deltaLng;
        var latlng = new google.maps.LatLng(this.position[0], this.position[1]);
        this.marker.setTitle("Latitude:"+this.position[0]+" | Longitude:"+this.position[1]);
        this.marker.setPosition(latlng);
        if(this.i!=this.numDeltas){
          this.i++;
          setTimeout(this.moveMarker(), this.delay);
        }
      }
    }
  };
</script>
<style scoped>
  .google-map {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    background: gray;
  }
</style>
