<template>
  <section class="content">
    <div class="row center-block">
      <h2>Live Tracking</h2>
      <div class="col-md-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Live Tracking</h3>
          </div>
          <viewer></viewer>
        </div>
      </div>
    </div>
  </section>
</template>

<script>

  import Viewer from './Viewer.vue'


  export default {
    name: 'live-tracking',
    components: {
      Viewer
    },
    data() {
      return {
      }
    },
    mounted () {

    },
    methods:{
    }

  }
</script>

<style>


</style>
