<template>
  <section class="content">
    <div class="row center-block">
      <h2>Delivery</h2>
      <div class="col-md-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Delivery</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
              <div class="row">
                <div class="col-sm-6">
                  <div class="col-sm-6 col-md-4">
                    <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
                  </div>
                  <div class="col-sm-6 col-md-8">
                    <div class="col-sm-12 col-md-6">
                      <h4>
                        {{ delivery.customer.fullName}}</h4>
                      <small><cite title="San Francisco, USA">Address : {{delivery.customer.address.postalCode}} {{delivery.customer.address.street}} {{delivery.customer.address.city}} {{delivery.customer.address.town}} {{delivery.customer.address.country}} <i class="glyphicon glyphicon-map-marker">
                      </i></cite></small>
                      <p>
                        <i class="glyphicon glyphicon-envelope"></i>Order : {{delivery.order}}
                        <br />
                        <i class="glyphicon glyphicon-globe"></i>Price : {{delivery.price}}
                        <br />
                        <i class="glyphicon glyphicon-gift"></i>Date start : {{delivery.dateStart}}
                        <br />
                        <i class="glyphicon glyphicon-gift"></i>Date start : {{delivery.dateDeliver}}
                        <br />
                        <i class="glyphicon glyphicon-globe"></i>Employee : {{delivery.employee}}
                        <br />
                        <i class="glyphicon glyphicon-globe"></i>Car : {{delivery.car}}

                      </p>
                      <!-- Split button -->
                      <div class="btn-group">
                        <button type="button" class="btn btn-primary">
                          Edit</button>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                      <div class="col-sm-12 col-md-12">
                        <form>
                          <div class="form-group">
                            <label>Customer full name : </label>
                            <input type="text" class="form-control" v-model="delivery.customer.fullName">
                          </div>
                          <h3>Address :</h3>
                          <div class="form-group">
                            <label>Street: </label>
                            <input type="text" class="form-control" v-model="delivery.customer.address.street">
                          </div>
                          <div class="form-group">
                            <label>City : </label>
                            <input type="text" class="form-control" v-model="delivery.customer.address.city">
                          </div>
                          <div class="form-group">
                            <label>Town : </label>
                            <input type="text" class="form-control" v-model="delivery.customer.address.town">
                          </div>
                          <div class="form-group">
                            <label>Country : </label>
                            <input type="text" class="form-control" v-model="delivery.customer.address.country">
                          </div>
                          <div class="form-group">
                            <label>Postal Code : </label>
                            <input type="text" class="form-control" v-model="delivery.customer.address.postalCode">
                          </div>
                          <div class="form-group">
                            <label>Order : </label>
                            <input type="text" class="form-control" v-model="delivery.order">
                          </div>
                          <div class="form-group">
                            <label>Price : </label>
                            <input type="text" class="form-control" v-model="delivery.price">
                          </div>
                          <div class="form-group">
                            <label>Delivery Date : </label>
                            <input type="date" class="form-control" v-model="delivery.dateDeliver">
                          </div>
                          <div class="form-group">
                            <label>Employee Name : </label>
                            <input type="text" class="form-control" v-model="delivery.employee">
                          </div>
                          <div class="form-group">
                            <label>Car : </label>
                            <input type="text" class="form-control" v-model="delivery.car">
                          </div>
                          <div class="form-group">
                            <a v-on:click="update()" class="btn btn-primary">
                              Edit
                            </a>
                          </div>
                        </form>
                      </div>
                    </div>

                  </div>
                    </div>
              <div class="row">
                <div class="col-sm-12 table-responsive">
                </div>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
</template>

<script>
  import $ from 'jquery'
  // Require needed datatables modules
  import 'datatables.net'
  import 'datatables.net-bs'
  import axios from 'axios';

  export default {
    name: 'Tables',
    data() {
      return {
        delivery:{},
        errors: [],
      }
    },
    mounted () {
      this.$nextTick(() => {
        $('#example1').DataTable()
      })
    },
    created(){
      var url = document.URL

      this.id = url.substr(url.lastIndexOf('/') + 1);
      axios.get('http://localhost:3000/delivery/'+this.id)
        .then(response => {
          this.delivery = response.data
          this.fullname=this.delivery.customer.fullName,
            this.street=this.delivery.customer.address.street
            this.city=this.delivery.customer.address.city
            this.town=this.delivery.customer.address.town
            this.country=this.delivery.customer.address.country
            this.postalCode=this.delivery.customer.address.postalCode
            this.order=this.delivery.order
            this.price=this.delivery.price
            this.dateDeliver=this.delivery.dateDeliver
            this.employee=this.delivery.employee
            this.car=this.delivery.car
          console.log(this.delivery)
        })
        .catch(e => {
          this.errors.push(e)
          console.log(this.errors)
        })
    },
    methods:{
      update(){
        var obj = {
          "customer" : {
            "fullName":this.delivery.customer.fullName,
            "address" : {
              "street": this.delivery.customer.address.street,
              "city": this.delivery.customer.address.city,
              "town":this.delivery.customer.address.town,
              "country": this.delivery.customer.address.country,
              "postalCode":this.delivery.customer.address.postalCode
            }
          },
          "order":this.delivery.order,
          "price":this.delivery.price,
          "dateDeliver":this.delivery.dateDeliver,
          "employee":this.delivery.employee,
          "car":this.delivery.car
        }
        axios
          .put(
            "http://localhost:3000/delivery/"+this.id,
            obj,
            {headers: {"Content-Type": "application/json"}}
          )
          .then(response => /*this.delivery = response.data*/console.log("updated"))
          .catch(e => console.log("error"));
      }
    }

  }
</script>

<style>
  /* Using the bootstrap style, but overriding the font to not draw in
     the Glyphicons Halflings font as an additional requirement for sorting icons.

     An alternative to the solution active below is to use the jquery style
     which uses images, but the color on the images does not match adminlte.

  @import url('/static/js/plugins/datatables/jquery.dataTables.min.css');
  */

  @import url('../../../static/js/plugins/datatables/dataTables.bootstrap.css');

  table.dataTable thead .sorting:after,
  table.dataTable thead .sorting_asc:after,
  table.dataTable thead .sorting_desc:after {
    font-family: 'FontAwesome';
  }

  table.dataTable thead .sorting:after {
    content: "\f0dc";
  }

  table.dataTable thead .sorting_asc:after {
    content: "\f0dd";
  }

  table.dataTable thead .sorting_desc:after {
    content: "\f0de";
  }
</style>
