<template>
<p>Hii</p>
</template>

<script>

  import axios from 'axios'

  export default {
    name: 'Tracker',
    data () {
      return {

      }
    },
    mounted: function () {
      const socket = io('/')

        const positionOptions = {
          enableHighAccuracy : true, //indicates that the app would like to receive result if device have gps
          maximumAge: 0 // maxAge in milliseconds of a cached position that us acceptable to return , if 0 means that the device can't use cached position and must attempt to retrieve the real current posistion
        };

        setInterval(function () {
          console.log('tick');
          navigator.geolocation.getCurrentPosition(function (position) {
            const cords = {lat : position.coords.latitude  , lng:position.coords.longitude};
            socket.emit('updateLocation',cords);
            axios.get('http://localhost:3000/location/'+position.coords.latitude+'/'+position.coords.longitude+'/206')
              .then(response => {
                console.log(response);
              })
              .catch(e => {
                this.errors.push(e)
              })
            console.log(position)
          },function (error) {
            console.log(error)
          },positionOptions);
        },2000);
    },
    methods: {
    }
  }
</script>

<style>
p{
  color:white;
}
</style>
