<template>
  <div class="google-map" id="-map"></div>
</template>
<script>
  export default {
    name: 'viewer',
    props: ['name'],

    data: function () {
      return {

      }
    },
    mounted: function () {
      var map
      var markers = new Map()
      navigator.geolocation.getCurrentPosition(function (position) {
        var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
        var myOptions = {
          zoom: 16,
          center: latlng,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
         map = new google.maps.Map(document.getElementById('-map'), myOptions);

      })
      //this.markers = new Map();

        const socket = io('/');

        socket.on('locationsUpdate',function (locations) {
          console.log(markers);
          console.log(locations);
          markers.forEach(function (marker,id) {
            marker.setMap(null);
            markers.delete(id)
          });
          locations.forEach(function (position) {
            if (position[1].lat && position[1].lng){
              const marker = new google.maps.Marker({
                position: position[1],
                map : map,
                title:position[0]
              });

              markers.set(position[0],marker);
            }

          });
        });
        setInterval(function () {
          socket.emit('requestLocations');
        },2000);

    },
    methodes: {

    }
  };
</script>
<style scoped>
  .google-map {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    background: gray;
  }
</style>
