<template>
  <b-row>
    <b-col cols="12">
      <h2>
        Edit Employee's profile
        <router-link :to="{ name: 'ShowEmployee', params: { id: employee._id } }">(Show Employee)</router-link>
      </h2>
      <b-form @submit="onSubmit">
        <b-form-group id="fieldsetHorizontal"
                  horizontal
                  :label-cols="4"
                  breakpoint="md"
                  label="Enter firstname">
          <b-form-input id="firstname" :state="state" v-model.trim="employee.firstname" ></b-form-input>
        </b-form-group>
        <b-form-group id="fieldsetHorizontal"
                  horizontal
                  :label-cols="4"
                  breakpoint="md"
                  label="Enter lastname">
          <b-form-input id="lastname" :state="state" v-model.trim="employee.lastname" ></b-form-input>
        </b-form-group>
        <b-form-group id="fieldsetHorizontal"
                  horizontal
                  :label-cols="4"
                  breakpoint="md"
                  label="Enter email">
          <b-form-input id="email" :state="state" v-model.trim="employee.email" ></b-form-input>
        </b-form-group>
        <b-form-group id="fieldsetHorizontal"
                  horizontal
                  :label-cols="4"
                  breakpoint="md"
                  label="Enter date naissance">
          <datepicker id="date_naissance" :state="state" v-model.trim="employee.date_naissance"></datepicker>
        </b-form-group>

        <b-button type="submit" variant="primary">Update</b-button>
      </b-form>
    </b-col>
  </b-row>
</template>

<script>

import axios from 'axios'
import Datepicker from 'vuejs-datepicker'


export default {
  // ...
  components: {
    Datepicker
  },
  name: 'EditEmployee',
  data () {
    return {
      employee: {}
    }
  },
  created () {
    axios.get(`http://localhost:3000/employees/` + this.$route.params.id)
    .then(response => {
      this.employee = response.data
    })
    .catch(e => {
      this.errors.push(e)
    })
  },
  methods: {
    onSubmit (evt) {
      evt.preventDefault()
      axios.put(`http://localhost:3000/employees/` + this.$route.params.id, this.employee)
      .then(response => {
        this.$router.push({
          name: 'ShowEmployee',
          params: { id: this.$route.params.id }
        })
      })
      .catch(e => {
        this.errors.push(e)
      })
    }
  }
}
</script>
