<template>

  <b-row>
    <b-col cols="12">



      <h2>
        None available Cars
        <router-link tag="li" class="pageLink" to="/add-car">
          <a>
            Add Car
          </a>
        </router-link>
      </h2>

<nav class="navbar navbar-dark bg-dark">
  <form class="form-inline">
    <router-link tag="li" class="pageLink" to="listA">
      <a>
        All-cars
      </a>
    </router-link>
    <router-link tag="li" class="pageLink" to="/list-cars">
      <a>
        Available cars
      </a>
    </router-link>
    <router-link tag="li" class="pageLink" to="/list">
      <a>
        None available cars
      </a>
    </router-link>
    <input class="form-control mr-sm-2" name="car-name" type="search" v-model="carName" placeholder="Search" aria-label="Search">
  </form>
</nav>

    <paginate ref="paginator"
        name="cars"
        :list="cars"
        :per="10"
        >
        <table class="table table-hover">
            <thead>
            <tr>

                <td>Item Name</td>

                <td>Actions</td>
            </tr>
            </thead>

            <tbody>
                <tr v-for="(car, index) in paginated('cars')">

                  <td>{{ car.carname }}</td>
                  <router-link tag="li" class="pageLink" v-bind:to="'/show-car/' + car._id">
                    <a>
                      Details
                    </a>
                  </router-link>
                </tr>
            </tbody>
        </table>
            </paginate>
    <div class="text-center">
      <paginate-links for="cars" :show-step-links="true"></paginate-links>
    </div>
      <ul v-if="errors && errors.length">
        <li v-for="error of errors">
          {{error.message}}
        </li>
      </ul>
    </b-col>
  </b-row>
</template>

<script>

import axios from 'axios'

export default {
  name: 'CarList',
  data () {
    return {
    fields: {
        actions: { label: 'Action', 'class': 'text-center' }
      },
      cars: [],
      carsCopy: [],
      errors: [],
      carName: '',
      paginate: ['cars']
    }
  },
  created: function () {
    axios.get(`http://localhost:3000/car`)
    .then(response => {
      this.cars = response.data
      this.carsCopy = this.cars
      this.cars = this.cars.filter(c => c.available === false)
      this.carsCopy = this.cars
    })
    .catch(e => {
      this.errors.push(e)
    })
  },
  methods: {
    searchCar ( ) {
      // console.log(this.carName)
      this.cars = this.carsCopy
      this.cars = this.cars.filter(value => value.carname.startsWith(this.carName))
    },
    details (car) {
      this.$router.push({
        name: 'ShowCar',
        params: { id: car._id }
      })
    },
         sound (car) {
      this.$router.push({
        name: 'CarsSound',
        params: { id: car._id }
      })
    }
  },
  watch: {
    carName: function () {
      this.searchCar()
    }
  },
  beforeCreate: function () {
    if (this.$store.getters.isLoggedIn === false) {
      this.$router.push({name: 'Login'})
    }
  }
}
</script>

<style scoped>
    .custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .custom-search-input button {
    border: 0;
    background: none;
    padding: 2px 5px;
    margin-top: 32px;
    position: relative;
    left: -28px;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#D9230F;
  }
  .custom-search-input .search-query:focus + button {
    z-index: 3;
  }
  .custom-search-input .search-query button:focus{
    border-style: none;
  }
  .search-query{
    margin-top: 24px
  }
  ul.paginate-links{
    font-family: 'CamptonBold';
    font-size: 18px;
    display: inline-flex;
    list-style: none;
    cursor: pointer;
  }
  ul.paginate-links li{
    text-align: center;
    display: inline;
    margin: 10px;
    padding: 5px;
    padding-right: 8px;
    border: 1px solid rgb(54, 169, 206);
    border-radius: 15%;
  }
  ul.paginate-links li.active{
    background-color: rgb(54, 169, 206);
  }
  ul.paginate-links li.active a{
    color: white;
  }
  ul.paginate-links li.right-arrow, ul.paginate-links li.left-arrow{
    border: none;
  }
</style>
