<template>
  <b-row>
    <b-col cols="12">
      <h2>
        Add Car
        <router-link tag="li" class="pageLink" to="/list-cars">
          <a>
            (Car List)
          </a>
        </router-link>
      </h2>
      <b-form>
        <b-form-group id="fieldsetHorizontal"
                  horizontal
                  :label-cols="4"
                  breakpoint="md"
                  label="Enter Serial">
          <b-form-input id="isbn" :state="state" v-model.trim="car.isbn" required pattern="[0-9a-zA-Z-\.]{3,6}" placeholder="De 3 à 6 caractères"></b-form-input>
        </b-form-group>
        <b-form-group id="fieldsetHorizontal"
                  horizontal
                  :label-cols="4"
                  breakpoint="md"
                  label="Enter Car Name">
          <b-form-input class="controle" id="carname" :state="state" v-model.trim="car.carname" required pattern="[0-9a-zA-Z-\.]{3,12}" placeholder="De 3 à 12 caractères"></b-form-input>
        </b-form-group>

           <b-form-group id="fieldsetHorizontal"
                  horizontal
                  :label-cols="4"
                  breakpoint="md"
                  label="Enter Car Name">
<select v-model.trim="car.carbrand">
  <option disabled value="">Please select one</option>
  <option>renault</option>
  <option>peugeot</option>
  <option>volkswagen</option>
</select>
<span>Selected: {{ selected }}</span>
        </b-form-group>




        <b-form-group id="fieldsetHorizontal"
                  horizontal
                  :label-cols="4"
                  breakpoint="md"
                  label="Enter Description">
            <b-form-textarea id="description"
                       v-model="car.description" required pattern="[0-9a-zA-Z-\.]{6,30}" placeholder="De 6 à 30 caractères"
                       placeholder="Enter something"
                       :rows="2"
                       :max-rows="6">{{car.description}}</b-form-textarea>
        </b-form-group>
        <b-form-group id="fieldsetHorizontal"
                  horizontal
                  :label-cols="4"
                  breakpoint="md"
                  label="Enter Creation Year">
          <datepicker id="creation_year" :state="state" v-model.trim="car.creation_year"></datepicker>
        </b-form-group>
        <b-form-group id="fieldsetHorizontal"
                  horizontal
                  :label-cols="4"
                  breakpoint="md"
                  label="Enter available">

<input type="checkbox" id="available" v-model.trim="car.available">
<label for="checkbox">{{ checked }}</label>

        </b-form-group>


        <b-button  @click="onSubmit()">Save</b-button>

      </b-form>


    </b-col>
  </b-row>
</template>

<script>

import axios from 'axios'
import Datepicker from 'vuejs-datepicker'

export default {
  // ...
  components: {
    Datepicker
  },
  name: 'CreateCar',
  data () {
    return {
      car: {},
      modalShow: false
    }
  },

  methods: {

      onSubmit () {

              axios.post(`http://localhost:3000/car`, this.car)
              .then(response => {
                this.$router.push({
                  name: 'ShowCar',
                  params: { id: response.data._id }
                })
              })
                   setTimeout(() => {
              console.log('Produit ajouté')
            }, 1500)


    }
  },
  mounted: function () {
  }
}
</script>
