<!-- eslint-disable -->
<template>
  <div>

    <div class="col-md-8">
      <vue-highcharts :options="pieChartOptions" ref="pieChart"></vue-highcharts>
    </div>


  </div>
</template>

<script>
/* eslint-disable */
import VueHighcharts from 'vue2-highcharts'
import Highcharts from 'highcharts'
import Chart from '@/services/Chart'
import Drilldown from '../../../../node_modules/highcharts/modules/drilldown'
import axios from 'axios'

export default{
    components: {
        VueHighcharts
    },
    data(){
      return{

        pieChartOptions: {
          chart: {
              type: 'pie',
              options3d: {
                  enabled: true,
                  alpha: 45
              }
          },
          title: {
              text: 'Cars Avaibility'
          },
          plotOptions: {
              pie: {
                  innerSize: 100,
                  depth: 45
              }
          },
          series: []
        }
      }
    },
    methods: {
      load () {
        console.log('Mounted!')
        axios.get(`http://localhost:3000/car`)
        .then(response => {
          let asyncPiechartData = {
              name: 'count',
              data: [
                  ['Available', response.data.filter(c => c.available === true).length],
                  ['Not available', response.data.filter(c => c.available === false).length]
              ]
          }

          let pieChart = this.$refs.pieChart
          pieChart.delegateMethod('showLoading', 'Loading...')
          setTimeout(() => {
              pieChart.addSeries(asyncPiechartData)
              pieChart.hideLoading()
          }, 2000)
        })
      }
    },
    mounted: function () {
      this.load()
    }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .charts-links{
    text-decoration: none;
    list-style: none;
  }
</style>
